<div id="content">

    <div id="welcome">
        <h1>Welcome to CSE Motors!</h1>
        <%- messages() %>
        <picture class="cImage">
            <source media="(min-width:700px)" srcset="images/vehicles/delorean.jpg">
            <img src="images/vehicles/delorean-tn.jpg" alt="A Delorian">
        </picture>
        <div class="bNow">
            <h2>DMC Delorian</h2>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today</button>
        </div>
    </div>

    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="flux">
            <div class="fImg"><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor Image"></div>
            <a href="/" title="Get Flux Capacitor!">Flux Capacitor</a>
        </div>
        <div class="decals">
            <div class="flImg"><img src="images/upgrades/flame.jpg" alt="Flame Image"></div>
            <a href="/" title="Get Flame Decal!">Flame Decals</a>
        </div>
        <div class="stickers">
            <div class="bImg"><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker Image"></div>
            <a href="/" title="Get Bumper Stickers!">Bumper Stickers</a>
        </div>
        <div class="caps">
            <div class="hcImg"><img src="images/upgrades/hub-cap.jpg" alt="Hub Cap Image"></div>
            <a href="/" title="Get Hub Caps!">Hub Caps</a>
        </div>
    </div>

    <div id="reviewBlock">
        <h2>DMC Delorean Reviews</h2>
        <div class="reviews">
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and love it!" (5/5)</li>
            </ul>
        </div>
    </div>

</div>