<%# The content heading defining title and h1 %>
<% if (title) { %>
<h1><%- title %></h1>
<% } else {
    res.redirect('/')
} %>

<%# The message block commented out for now as usage is not garunteed %>
<%- message %>